<html>
<head>
  <title>Characters</title>
  <!-- Angular -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- Angular App -->
  <script src="../javascripts/main_controller.js"></script>
  <!-- Styles -->
  <link rel="stylesheet" href="stylesheets/style.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand" />
</head>
<body ng-app="character" ng-controller="MainCtrl">
  <div class="container text-center">
    <h1>Pick your Character!</h1>
    <hr/>
      <div>
        <div>
          <a ng-repeat="character in chars" href="/signup?image={{character.imagePath}}"><img class="charImages" src="images/{{character.imagePath}}" width="100px"></a>
        </div>
      </div>
  </div>
</body>
</html>
